<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- mapper의 parameterType, resultType에 패키지 네임 생략 가능 -->
	<typeAliases>
		<package name="com.java.domain"/>
	</typeAliases>
</configuration>